<p>
  <%= form_tag (students_path :method => "get") do %>
  <%= text_field_tag :query, params[:query], placeholder: "Find Student" %>
  <%= submit_tag "Search", :name => nil %>
  <% end %>
</p>

<% Student.all.each do |student| %>
  <%= render partial: "student", locals: {student: student} %>
<% end %>
